/* details for summary popovers */
.popover-body {
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: 2px;

}
/* book results shelf layout */
#results {
    margin: 3pt;
    /* height:20px; */
    text-align: center;
    border-bottom: solid;
    border-color: white;
    background: rgb(245, 245, 245,0.5);
}

.instructions {
    background-color:rgba(91, 107, 177, 0.3);
    align-tracks: center;
    display: table; /* keep the background color wrapped tight */
    margin: 0px auto 0px auto;
}
/* displays tbr bookshelf */
#tbr-list {
    margin: 5pt;
    text-align: center;
    border-bottom: solid;
    border-color: white;
    background: rgb(245, 245, 245,0.3);
    font-size: 12px;
}
/* check box and text for tbr toggle */
.check-me {
    font-size: 10px;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

/* next two sets handles hover messages on user library tbr toggle */
.check-me .check-me-text {
    visibility: hidden;
    width: 130px;
    background-color:midnightblue;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .check-me:hover .check-me-text {
    visibility: visible;
  }



/* all bookshelfs-> library/tbr/results */
#shelf {
    width: 900pt;
    margin: 100pt;
    margin-top: 5pt;
    align-tracks: center;
    object-fit: fill
    
}

/* sets book covers to same width and height for better visuals */
.coverImg {
    height: 180px;
    width: 120px;
}

/* ??? */
.col{

 margin: 0 auto;
}
/* tbr header */
.tbr{
    color:whitesmoke;
    font-size: 40px;

}

h1 { 
    
    color: white;
    font-family:fantasy ;   
}

h2 {
    color: white;
    margin-top: 15pt;
    text-align: center;
    font-family:fantasy ;
    font-weight: bolder;
}

/* genre recs header */
p {
    font-family: fantasy;
    font-size: 30px;
    font-weight:bolder;
    color:white;
}

/* login divs */
.boxes {
    color: whitesmoke;
    background-color:rgb(59, 45, 8,0.5);

  }

  /* search page  */
.searchbook {
    color: whitesmoke;
    background-color:rgba(52, 68, 57, 0.5);
    align-tracks: center;
    display: table; /* keep the background color wrapped tight */
    margin: 0px auto 0px auto;

  }

/* tags to navigate to user library */
a {
    color:wheat;
}

/* homepage navigation bar */
nav{
    background-color:rgba(224, 232, 233, 0.8);
    align-tracks: center;
    text-align: center;
}

/* tags to navigate away from user library homepage */
#navigation {
    color:rgb(173, 115, 115);
    text-align: center;
    margin-right: 100px;
}

/* genres dropdown menu wrapper */
.wrapper{
    width:200px;
    padding:2px;
    height: 800px;
    }

/* book search header */
#searchform {
    text-align: left;
    margin: 40px;
    color: whitesmoke;

}


/* quote on new user form */
#quote {
    background-color: rgba(78, 61, 35, 0.5);
    font-size: 20px;
    font-family: fantasy;
    /* margin-top: 40px; */
    
}

#newuser {
    background-color: rgba(78, 61, 35, 0.5);
    margin-top: 40px;  
} 



/* users library shelf customized layout */
#bookbox {
    margin: 5pt;
    text-align: center;
    font-size: 12px;
    border-bottom: solid;
    border-color: white;
    background: rgb(245, 245, 245,0.3)
}