/* details for summary popovers */
.popover-body {
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: 2px;

}
/* book results shelf layout */
#results {
    margin: 3pt;
    text-align: center;
    border: solid;
    border-style: groove;
    background: rgb(245, 245, 245,0.5);
}

/* #results {
    margin: 0pt;
    text-align: center;
    border: solid;
    border-style: groove;
    background: rgb(245, 245, 245,0.5);
} */

#tbr-list {
    margin: 5pt;
    text-align: center;
    border: solid;
    border-style: groove;
    background: rgb(245, 245, 245,0.3);
    font-weight: bold;
    font-size: 15px;
}

/* all bookshelfs-> library/tbr/results */
#shelf {
    width: 900pt;
    /* margin-left: 120px;
    margin-right: 100px; */
    margin: 100pt;
    margin-top: 5pt;
    align-tracks: center;
}

.col{

 margin: 0 auto;
}
/* tbr header */
.tbr{
    color:whitesmoke;
    font-size: 40px;
    border: 2px;
    border-bottom: whitesmoke;
}

h1 { 
    
    color: white;
    font-family:fantasy ;   
}

h2 {
    margin-top: 5pt;
    text-align: center;
    font-family:fantasy ;
}

p {
    font-size: 30px;
    font-weight:bolder;
    color:white;
}

.boxes {
    color: whitesmoke;
    background-color:rgb(59, 45, 8,0.5);

  }

  /* search page  */
.addbook {
    color: whitesmoke;
    background-color:rgba(52, 68, 57, 0.5);
    align-tracks: center;

  }

/* tags to navigate to user library */
a {
    color:wheat;
}

/* homepage navigation bar */
nav{
    background-color:rgba(224, 232, 233, 0.8);
    border-style: ridge;
    margin-left: 90px;
    margin-right: 90px;
    align-tracks: center;
    text-align: center;
    
}

/* tags to navigate away from user library homepage */
#navigation {
    color:indigo;
}

/* genres dropdown menu wrapper */
.wrapper{
    width:200px;
    padding:2px;
    height: 800px;
    }

/* book search header */
#searchform {
    text-align: left;
    margin: 40px;
    color: whitesmoke;

}


/* quote on new user form */
#quote {
    /* text-align: right; */
    font-size: 20px;
    font-family: fantasy;
    /* margin-top: 40px; */
    
}

#newuser {

    margin-top: 40px;   
} 

/* users library shelf customized layout */
#bookbox {
    margin: 5pt;
    text-align: center;
    border-bottom: solid;
    border-style:groove;
    background: rgb(245, 245, 245,0.3)
}