{% extends 'base.html' %} 

{% block title %}Book Recommendations{% endblock %}
 

{% block body %}

<style>
    body {
      background-image: url('/static/img/emiel-molenaar-c6___zGObUc-unsplash.jpg');
      background-size:cover;
      margin: 80px; 
    }
  </style>



    <div class="container">
    <div class="row align-items-center">
      <div class="col-8 col-lg-12 col-md-8 col-sm-8">
    <form action='/genres'  method="POST">
        <p style="font-family:fantasy;">From which genre would you like book recommendations?</p><br>
        <div class="wrapper" >
        <select class="dropdown dropdown--scrollable" id="genrelist" size="8" name="genres"> 
              
            {% for genres in book_genres %}
                
              <option value="{{genres}}"> {{genres}}</option>
                
            {% endfor %}

        </select>
          <button class="float-left submit-button" >Go!</button>
        </div>  
    </form>

    </div>
    </div>
    </div>

   

{% endblock %}