{% extends 'base.html' %} 
{% block title %}Search{% endblock %}

{% block body %} 
    <style>
        body {
          background-image: url('/static/img/simon-berger-9Ct73yKbpEo-unsplash.jpg');
          background-size: 1500px;
        }
  </style>

  <div class="container" id="searchform">

    <h1>Search for a new book...</h1>

    <form action='/find-book' class="searchbook" method="POST">
    <h2 class ="addbook"> What are you looking for?</h2>

    <div class='form'>
        <label for="book-search" >Title or Author</label>
        <input type="text" name="book-search" class="form-control">

    </div>

    <button class="btn btn-sm btn-light" type="submit" value="search">
        Search for Book  </button>

    </form>

    <a href="/">Back to your library</a>
</div>
{% endblock %}