{% block title %}<h1>Search for New Book!</h1>{% endblock %}

{% block body %} 
<form action='/find-book' class="searchbook" method ="POST">
<h2 class ="add-book-head"> What book are you looking for?</h2>

<div class='form'>
    <label for="book-title" >Title</label>
    <input type="text" name="title" class="form-control">

</div>



<div class='form'>
    <label for="book-author" >Author</label>
    <input type="text" name="author" class="form-control">

</div>


<button class="btn btn-lg btn-default btn-block" type="submit" value="search">
    Search for Book  </button>

</form>