{% extends 'base.html' %}
{% block title %}My Library{% endblock %}

{% block body %}
  <style>
    body {
      background-image: url('/static/img/miguel-bruna-M9fX9Kz3w8s-unsplash.jpg');
      background-size: auto;
    }
  </style>

<h2>Welcome Back {{name}}!</h2>

<br>
<nav class="nav-bar">
  <div class="container">
    <div class="row">

      <div class="col-3">
        <a href="/find-book">Add Books to your library!</a>
      </div>
      <div class="col-3">
        <a href="/tbr">View To Be Read List</a>
      </div>
      <div class="col-3">
        <a href="/genres">Get Book Recommendations</a> 
      </div>
      <div class="col-3">
        <form action="/logout" class="inline">  
        <button class="submit-button">Logout of Library</button>
        </form>
      </div>

    </div>  
  </div>
</nav>



<div class="container">
  <div class="row">
    

  {% if users_books %}
    {% for book in users_books %}

      <div class='col-3' id="bookbox">
        
        <br>
        <span class="d-inline-block" title="Summary" data-bs-toggle="popover" 
         data-bs-html='true'  data-bs-content="{{book.summary}}" >
          <button class="btn btn-sm btn-light" type="button" ><img src={{book.book_cover_path}}></button>
        </span>
        <br>
        {{book.title}}
        <br>
        By: <i>{{book.author}}</i><br>
        <!-- {% for genre in book.genres%}
        {{genre.name}}
        {% endfor %} -->
      
      <span class="tbr-add">
        Have you read this?
        <input
          class="read"
          type="checkbox"
          name="update-status"
          data-book-id="{{ book.book_id }}"
          {% if book.have_read %}checked{% endif %}
        />
      </span>
    </div>
    {% endfor %}
  {% endif %}

  </div> 
</div>
{% endblock %}

{% block js %}
<script src="/static/js/user_library.js"></script>
{% endblock %}