{% extends 'base.html' %} 
{% block title %}To Be Read{% endblock %}

{% block body %} 
  <style>
    body {
      background-image: url('/static/img/nathan-dumlao-zUNs99PGDg0-unsplash.jpg');
      background-size:100%;
    }
  </style>


  <h2 class="tbr">~ <u>{{name}}'s TBR</u> ~</h2>
  <br>
  <a href="/" style="margin: 100pt;"> {{name}}'s library</a>

  <div class="container" id="shelf">
    <div class="row">
    {% for book in tbr_list %}
      <div class='col-2 col-lg-2 col-md-4 col-sm-4' id="tbr-list">
        <img src={{book.book_cover_path}}><br>{{book.title}}<br>By: {{book.author}}
      </div>
    {% endfor %}
    </div>
  </div>  

{% endblock %}