{% extends 'base.html' %}
{% block title %}My Library{% endblock %}

{% block body %}
  <style>
    body {
      background-image: url('/static/img/cole-keister-xMMh-VFGL9M-unsplash.jpg');
      background-size: 1500px;
    }
  </style>





  <h2>Welcome Back {{name}}
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-emoji-sunglasses" viewBox="0 0 16 16">
      <path d="M4.968 9.75a.5.5 0 1 0-.866.5A4.498 4.498 0 0 0 8 12.5a4.5 4.5 0 0 0 3.898-2.25.5.5 0 1 0-.866-.5A3.498 3.498 0 0 1 8 11.5a3.498 3.498 0 0 1-3.032-1.75zM7 5.116V5a1 1 0 0 0-1-1H3.28a1 1 0 0 0-.97 1.243l.311 1.242A2 2 0 0 0 4.561 8H5a2 2 0 0 0 1.994-1.839A2.99 2.99 0 0 1 8 6c.393 0 .74.064 1.006.161A2 2 0 0 0 11 8h.438a2 2 0 0 0 1.94-1.515l.311-1.242A1 1 0 0 0 12.72 4H10a1 1 0 0 0-1 1v.116A4.22 4.22 0 0 0 8 5c-.35 0-.69.04-1 .116z"/>
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-1 0A7 7 0 1 0 1 8a7 7 0 0 0 14 0z"/>
    </svg>
  </h2>

  {% if users_books %}
  <div class="container" id="shelf">
    <div class="row justify-content-start">
    {% for book in users_books %}

      <div class='col-4 col-lg-2 col-md-4 col-sm-4' id="bookbox">
        
        <br>
        <span class="d-inline-block" title="Summary" data-bs-toggle="popover" 
         data-bs-html='true'  data-bs-content="{{book.summary}}" >
          <button class="btn btn-sm btn-light" type="button" ><img src={{book.book_cover_path}}></button>
        </span>
        <br>
        {{book.title}}
        <br>
        By: <i>{{book.author}}</i><br>
        <!-- {% for genre in book.genres%}
        {{genre.name}}
        {% endfor %} -->
      
      <span class="tbr-add">
        Have you read this?
        <input
          class="read"
          type="checkbox"
          name="update-status"
          data-book-id="{{ book.book_id }}"
          {% if book.have_read %}checked{% endif %}
        />
      </span>
    </div>
    {% endfor %}
  {% endif %}

  </div> 
</div>
{% endblock %}

{% block js %}
  <script src="/static/js/user_library.js"></script>
{% endblock %}