{% extends 'base.html' %} 
{% block title %}To Be Read{% endblock %}

{% block body %} 
<style>
    body {
      background-image: url('/static/img/greg-rakozy-oMpAz-DN-9I-unsplash.jpg');
      background-size:cover;
    }
  </style>


<h2 class="tbr">{{name}}'s TBR</h2>
<br>
<a href="/">To {{name}}'s library</a>
<div class="container-fluid" id="shelf">
    <div class="row">
    {% for book in tbr_list %}
        <div class='col-3' id="tbr-list">
            <img src={{book.book_cover_path}}><br>{{book.title}}<br>By: {{book.author}}<br>
        </div>
    {% endfor %}

    </div>
</div>  

{% endblock %}