{% extends 'base.html' %} 
{% block title %}To Be Read{% endblock %}
{% block head %}
<style>
  body {
    background-image: url('/static/img/cole-keister-xMMh-VFGL9M-unsplash.jpg');
    background-size:1500px;
  }
</style>
{% endblock %}

{% block body %} 
 
  <h2 class="tbr">{{name}}'s TBR</h2>

  <div class="container" id="shelf">
    <div class="row">
    {% for book in tbr_list %}
      <div class='col-2 col-lg-2 col-md-4 col-sm-4' id="tbr-list">
        <img class="coverImg" src={{book.book_cover_path}}><br>By: {{book.author}}
      </div>
    {% endfor %}
    </div>
  </div>  

{% endblock %}